
// mca account details
billing_account_name = ""
billing_profile_name = ""
invoice_section_name = ""

// ea portal details
#billing_account_name = ""
#enrollment_account_name = ""

subscription_id      = ""
tenant_id            = ""